@model WebApplicationASPNetCore.Controllers.AttendeesController


<h1>My Events</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AttendeeEvents[0].Event.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendeeEvents[0].Event.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendeeEvents[0].Event.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendeeEvents[0].Event.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendeeEvents[0].Event.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendeeEvents[0].Event.SpotsAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AttendeeEvents)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.SpotsAvailable)
                </td>
            </tr>
        }
    </tbody>
</table>
